* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo {
    width: 700px;
    display: block;
    padding-bottom: 25px;
}
.mainIndex {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px
}
#listaLibros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
    margin-top: 20px;   
    padding-top: 20px;
}
.bookCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 45%;
    height: 200px;
    margin: 10px 0 25px 0;
    border-radius: 5px;
    border: 1px solid rgb(138, 139, 139);
    box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3)
}
.botonRead {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(138, 139, 139);
    box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3)
}
.amazonButton {
    display: inline;
    background-color: rgb(238, 158, 9);
    color: white;
    border: 1px solid rgb(238, 158, 9);
    box-shadow: 2px 2px 2px 1px rgb(238, 158, 9, 0.3);
    padding: 10px;
    font-size: 10px;
}
.buttonBack {
    display: inline;
    margin-top: 25px;
    margin-left: 25px;
    background-color: rgb(180, 36, 36);
    color: white;
    border: 1px solid rgb(138, 139, 139);
    box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3);
    padding: 10px;
    font-size: 10px;
}
.encabezadoCard {
    gap: 25px;
    border-bottom: 1px solid rgb(184, 189, 189);
}
.subtitulo {
    color: rgba(41, 40, 40, 0.699);
    font-size: 30px;
}
.cardsRank {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 45%;
    height: 600px;
    margin: 10px 0 25px 0;
    border-radius: 5px;
    border: 1px solid rgb(138, 139, 139);
    box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3)
}
.fotoPortada {
    width: 100%;
}
#subtitulo {
    font-size: 35px;
    color:rgba(97, 97, 97, 0.911);
}
@media (min-width: 800px) {
    .botonRead {
        width: 100%;
        background-color: white;
        border-radius: 5px;
        border: 1px solid rgb(138, 139, 139);
        box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3)
    }
    .amazonButton {
        width: 100%;
        background-color: rgb(238, 158, 9);
        color: white;
        border: 1px solid rgb(238, 158, 9);
        box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3);
        padding: 10px;
        font-size: 10px;
    }
    .bookCard {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        width: 30%;
        height: 200px;
        margin: 10px 0 25px 0;
        border-radius: 5px;
        border: 1px solid rgb(138, 139, 139);
        box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3)
    }
    .cardsRank {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        width: 30%;
        height: 600px;
        margin: 10px 0 25px 0;
        border-radius: 5px;
        border: 1px solid rgb(138, 139, 139);
        box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3)
    }
    .fotoPortada {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .botonRead {
        width: 50%;
        background-color: white;
        border-radius: 5px;
        border: 1px solid rgb(138, 139, 139);
        box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3)
    }
    .amazonButton {
        width: 50%;
        background-color: rgb(238, 158, 9);
        color: white;
        border: 1px solid rgb(238, 158, 9);
        box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3);
        padding: 10px;
        font-size: 10px;
    }
    .bookCard {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        width: 22%;
        height: 200px;
        margin: 10px 0 25px 0;
        border-radius: 5px;
        border: 1px solid rgb(138, 139, 139);
        box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3)
    }
    .cardsRank {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 22%;
        height: 600px;
        margin: 10px 0 25px 0;
        border-radius: 5px;
        border: 1px solid rgb(138, 139, 139);
        box-shadow: 2px 2px 2px 1px rgba(104, 101, 101, 0.3)
    }
    .fotoPortada {
        width: 100%;
    }
}